<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>My first three.js app</title>
		<style>
			body { margin: 0; }
		</style>
	</head>
	<body>
		<script src="./js/three.js"></script>
		<script>
			const Http = new XMLHttpRequest();
			const url='http://esp8266.local/';

			Http.onreadystatechange = (e) => {
			  console.log(Http.responseText)//收集数据->正则化解析->渲染
			  
			  RegExp.exec(Http.responseText)
			}

			var timer = setInterval(function() {
				Http.open("GET", url);
				Http.send();
			}, 1000);

			const scene = new THREE.Scene();
			const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );
			
			const renderer = new THREE.WebGLRenderer();
			renderer.setSize( window.innerWidth, window.innerHeight );
			document.body.appendChild( renderer.domElement );

			const loader = new THREE.TextureLoader();
			const texture = loader.load( './img/cspoly.jpg' );
    
			const pointLight = new THREE.PointLight( 0xffffff, 1, 100 );
			pointLight.position.set( 10, 10, 10 );
			scene.add( pointLight );

			const sphereSize = 1;
			const pointLightHelper = new THREE.PointLightHelper( pointLight, sphereSize );
			scene.add( pointLightHelper );

			//const objectLoader = new THREE.ObjectLoader();
			//objectLoader.load( './models/foot.json', 
			//	// onLoad callback
			//	function onLoad(object) {
			//		//object.traverse( function ( child ) {
			//		//	if ( child.isMesh ) {
			//		//		child.material.map = texture;
			//		//		child.material.needsUpdate = true;
			//		//	}
			//		//} );
			//		//object.position.y = - 1;
			//		//object.scale.set( 0.1, 0.1, 0.1 );
			//		const material = new THREE.MeshLambertMaterial( { map: texture } );
			//		const foot = new THREE.Mesh( object, material );
			//		scene.add( foot );
			//	},
			//	// (optional) onProgress callback
			//	// function onProgress() {
			//		// do something
			//	// },
			//	// onError callback
			//	undefined,
			//	function onError(err) {
			//		console.log('An loading error happened');
			//	} );

			const geometry = new THREE.BoxGeometry( 3, 3, 3 );
			const material = new THREE.MeshLambertMaterial( { map: texture } );
			const cube = new THREE.Mesh( geometry, material );
			scene.add( cube );

			camera.position.z = 5;

			function animate() {
				requestAnimationFrame( animate );

				cube.rotation.x += 0.01;//控制旋转
				cube.rotation.y += 0.01;


				renderer.render( scene, camera );

			};

			animate();
		</script>
	</body>
</html>